{% extends 'base.html' %}
{% block head %}
<style>
  .info {
    font-size: 1vw;
    width: 80%;
    margin: auto;
    word-break: break-all; 
  }

  .info h1 {
    font-size: 1.5vw;
  }

  .info a {
    color: black;
  }
</style>
{% endblock %}


{% block content %}
<div class="info">
  <header>
    <br>
    <br>
    <br>
    This website was created by the Louzoun Lab team. 
    For more tools and models, visit the <a href="http://yolo.math.biu.ac.il/" target="_blank">lab website</a>.
  </header>
</div>
{% endblock %}