{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <style>
        .info {
          font-size: 1vw;
          width: 80%;
          margin: auto;
          word-break: break-all; 
        }

        .info h1 {
          font-size: 1.5vw;
        }
    </style>
{% endblock %}

{% block content %}
<div class="info">
    <header>
    <h1>Example of amino acid sequence:</h1>
        <ul>
            <li>GSHSMRYFFTSVSRPGRGEPRFIAVGYVDDTQFVRFDSDAASQKMEPRAPWIEQEGPEYWDQETRNMKAHSQTDRANLGTLRGYYNQSEDGSHTIQIMYGCDVGPDGRFLRGYRQDAYDGKDYIALNEDLRSWTAADMAAQITKRKWEAVHAAEQRRVYLEGRCVDGLRRYLENGKETLQRTD</li>
            <li>GSHSMRYFYTSVSRPGRGEPRFISVGYVDDTQFVRFDSDAASPREEPRAPWIEQEGPEYWDRNTQIYKAQAQTDRESLRNLRGYYNQSEAGSHTLQSMYGCDVGPDGRLLRGHDQYAYDGKDYIALNEDLRSWTAADTAAQITQRKWEAAREAEQRRAYLEGECVEWLRRYLENGKDKLERAD</li>
            <li>CSHSMKYFFTSVSRPGRGEPRFISVGYVDDTQFVRFDSDAASPRGEPRAPWVEQEGPEYWDRETQKYKRQAQTDRVSLRNLRGYYNQSEAGSHTLQWMCGCDLGPDGRLLRGYDQYAYDGKDYIALNEDLRSWTAADTAAQITQRKWEAAREAEQRRAYLEGTCVEWLRRYLENGKETLQRAE</li>
        </ul>
        <h1>Example of HLA allele:</h1>
        <ul>
            <li>A01:01</li>
            <li>B07:02</li>
            <li>C01:02</li>
        </ul>
    </header>
</div>
{% endblock %}