{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <style>
        .info {
          font-size: 1vw;
          width: 80%;
          margin: auto;
        }

        .info h1 {
          font-size: 1.5vw;
        }
    </style>
{% endblock %}

{% block content %}
<div class="info">
  <h1>Explanation:</h1>
      This site predicts the binding level between different HLA alleles and different KIR 3DL1 alleles.
      <!-- <br> -->
      We have tested 9 3DL1 alleles. We found that binding has three main levels - no binding, low level binding and high level binding.
      <!-- <br> -->
      We propose classifiers for each allele by itself, or a general predictor for 3DL1 that combines information from all alleles. In the general predictor, we also provide a predictor for low vs high level of binding.
      <br>
      In the site one can either choose an amino acid (e.g. A02:01) or a sequence of exon 2 and exon 3 (see example tab).
  
  <h1>How to use:</h1>
      Enter amino acid - sequence of 183 upper case letters, or a HLA allele of amino acid.
      <br>
      NOTE: If your input contains both sequence and HLA allele, the sequence will be ignored! i.e. the result will be based only on  the HLA allele.
      <br>
      Press on the "calculate" button.
      <br>
      If you will enter only HLA allele, the amino acid sequence will be used from the amino sequences database, and shown in the text box.

  <br>
  <br>
  <br>
  You can download the <a href="/Coefs">coefficients</a> and <a href="/OH">alleles list</a>.
</div>
{% endblock %}