{% extends 'base.html' %}

{% block content %}
  <h1>KIR HLA allele binding</h1>
<section class="content">
  <header>
  <h1>Enter amino acid sequence, or its HLA allele:</h1>
  </header>
  <form method="post">
    <label for="amino_seq">Amino acid sequence</label>
    <input type="text" name="amino_seq" id="amino_seq" value="{{ amino_seq }}">
    <label for="amino_name">HLA allele</label>
    <input type="text" name="amino_name" id="amino_name" value="{{ amino_name }}">
    {% for message in get_flashed_messages() %}
    {% if message != None %}
      <p style="color: red">{{ message }}</p>
    {% endif %}
    {% endfor %}
    <br>
    <h1>Choose weighting method:</h1>
    <label for="w_method">Weighting Method</label>
    {% macro build_option(name) -%}
    {% if name == method %}
      <option value="{{ name }}" selected="selected">{{name}}</option>
    {% else %}
      <option value="{{ name }}">{{name}}</option>
    {% endif %}
    {%- endmacro %}
    <select name="w_method" id="w_method">
      {{ build_option('KIR3DL1_002') }}
      {{ build_option('KIR3DL1_008') }}
      {{ build_option('KIR3DL1_029') }}
      {{ build_option('KIR3DL1_001') }}
      {{ build_option('KIR3DL1_005') }}
      {{ build_option('KIR3DL1_015') }}
      {{ build_option('KIR3DL1_004') }}
      {{ build_option('KIR3DL1_009') }}
      {{ build_option('KIR3DL1_020') }}
    </select>
    <input type="submit" value="calculate">
  </form>
</section>
{% if method is defined %}
<br>
  The weight of the current amino sequence is {{ current_weight }}
  <center>
    <div id="columnchart_values"></div>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["bin", "amount", { role: "style" } ],
          {% for i in range(bin_values|length): %}
            {% if i == matched_bin: %}
              ["{{ ticks[i] }}",{{ bin_values[i] }}, "yellow"],
            {% else %}
              ["{{ ticks[i] }}",{{ bin_values[i] }}, "blue"],
            {% endif %}
          {% endfor %}
        ]);

        var view = new google.visualization.DataView(data);

        var options = {
          title: "{{ method + " histogram:" }}",
          width: '%100',
          height: 300,
          legend: { position: "none" },
          hAxis: {
            format: 'decimal',
            title: 'predicted log binding affinity',
            slantedText: false
           }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
        }
     </script>
{% endif %}
  </center>
{% endblock %}